<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support/Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Pages.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

  <header class="app-header">
    <div class="header-left">
      <div class="logo-placeholder">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="mini-logo">
      </div>
    </div>

    <div class="header-right">
      <div class="user-controls">
        <div class="user-info">
           <span class="nameN">{{ session['doctor_name'] }}</span>
                    <span class="user-title">{{ session['doctor_specialty'] }}</span>
 
                </div>
                
                <div class="user-icon" id="userIcon">
                  {% if session['doctor_name'] %}
                  {{ session['doctor_name'].replace('Dr.', '').strip()[0] }}
                  {% else %}
                   D
                  {% endif %}
                </div>


			 <div class="dropdown-menu" id="userDropdown">
                 <a href="{{ url_for('history') }}">Diagnosis History</a>
                <a href="{{ url_for('support') }}">Support / Help</a>
                <hr class="dropdown-separator">
                <a href="{{ url_for('login') }}" class="logout-link">Log Out</a>
            </div>
        </div>
			</header>
			<main class="support-container">
        <div class="box">
            <h2>Technical Support</h2>
            <div class="contact-info">
                <h3>Contact Information</h3>
                <p><strong>Phone:</strong> +966 568486002</p>
                <p><strong>Email:</strong> MaculopathyDetector@gmail.com</p>
            </div>
            <div>
                <p><strong>Saturday - Friday:</strong> 9:00 AM - 5:00 PM </p>
            </div>
			<button class="Back-btn" onclick="window.location.href='{{ url_for('starting') }}';">Back to Home</button>
            </div>

    </main>
         <script src="{{ url_for('static', filename='script.js') }}"></script>

			
			</body>
</html>